<h1>User Details</h1>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Identification Type:</strong>
  <%= @user.identification_type %>
</p>

<p>
  <strong>Identification Number:</strong>
  <%= @user.identification_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>